<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


body{
   margin: 20px!important;
}

body {
  font: 1rem/1.5 var(--bs-font-sans-serif);
}
a {
  color: var(--bs-blue);
}

.container {
    flex-direction: 960px;
}


.wrapper{
    margin: 0 auto; 
    width: 700px; 
    text-align: center; 
     
}
.finish-section{
    margin: 0 auto; 
    width: 900px; 
    visibility: hidden;
}

 .jumbotron{
        text-align: center;
        flex-wrap: wrap
        color: red;
    }

.final-page{

    margin: 0 auto; 
    width: 900px; 
    visibility: hidden;
 }

.all_btn{
    background: darkmagenta; 
    padding: 10px;
    margin: 10px;
    width: 30%; 
    border: 1px solid cornsilk;
    border-radius: 5px;
    color: white;   
    font-size: 1.em;
    text-align: center;
    /* cursor: pointer;  */
    
    
}
.myBtn{
    background: darkmagenta; 
    padding: 10px;
    margin: 10px; 
    border: 1px solid cornsilk;
    border-radius: 5px;
    color: white;   
    font-size: 1.em;
    

}

button{
    background: darkmagenta!important; 
     
}



.visually-hidden- .start .btn .btn-primary .btn-lg {
  @include visually-hidden;
}

.skip- .start .btn .btn-primary .btn-lg {
  @include visually-hidden-focusable;
}


@media only screen 
and (min-width:320px) 
and (max-width:540px) {

    .all_btn{
        background: darkmagenta; 
        padding: 10px;
        margin: 20px;
        width: 100%; 
        border: 1px solid cornsilk;
        border-radius: 5px;
        color: white;   
        font-size: 1.em;
        text-align: center;
        /* cursor: pointer;  */
        
        
    }
    .wrapper{
        margin: 0px;
        text-align: justify;
        word-wrap: break-word;
        width: 100%;
    }

        
    .jumbotron{
        text-align: center;
        flex-wrap: wrap
        color: red;
    }

    .finish-section{
        margin: 0px; 
        width: 100%; 
        visibility: hidden;
    }
    
    .final-page{

        margin: 0px; 
        width: 100%; 
        visibility: hidden;
     }
}

